fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
cloudinary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
email-validator
slowapi
PyJWT
pywebpush==2.0.3
cryptography>=42.0.0
httpx
beautifulsoup4
imageio-ffmpeg